<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    {% if error_msg %}
    {{error_msg}}
    {%endif%}
   

    <div>
        <label for="exampleInputEmail1">user name</label>
        <input type="text"name="username"id="exampleInputEmail1">
    </div>
    <div>
        <label for="exampleInputPassword1">Password</label>
        <input type="password"name="password"id="exampleInputPassword1">
    </div>

    <button type="submit"class="btn btn-primary">Submit</button>
  </form>
</body>
</html>